<div class="jumbotron text-center">
    <div class="row">

        <tabset justified="true">
            <tab heading="Glowna">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br><br><br><br>
                    <h2>
                        Witamy w aplikacji,tutaj beda pojawialy sie statystyki wejsc<br>
                        w obecnej wersji tu nic nie ma :P
                    </h2>
                </div>
                <div class="col-md-2"></div>
            </tab>
            <tab heading="Wykresy">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <br><br><br><br>
                    <h2>To strona z wykresami</h2>
                </div>
                <div class="col-md-2"></div>
            </tab>
            <tab heading="Konfiguracja">
                <div class="col-md-2"></div>
                <div class="col-md-8" ng-controller="MainConfigurationController">
                    <br><br><br><br>
                    <h2>To strona z konfiguracja i {{ hello }}</h2>
                </div>
                <div class="col-md-2"></div>
            </tab>
        </tabset>

    </div>
</div>