<div class="jumbotron text-center">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h3>Witamy w StockPredictor</h3>
            <hr><br><br>
            <p>{{ stock_prompt }}</p>
            <div>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Kod spółki" ng-model="stock_to_add" ng-enter="addStock(stock_to_add)">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="addStock(stock_to_add)">Dodaj</button>
                  </span>
                </div><!-- /input-group -->
                <br>
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="stock in stock_list">
                        {{ stock }}
                    <i class="fa fa-times" ng-click="delStock(stock)"></i>
                    </li>
                </ul>
            </div>

            <button type="button" class="btn btn-primary pull-right" ng-click="gotoNextPage()">Następna</button>
            <button type="button" class="btn btn-primary pull-right" ng-click="gotoPrevPage()">Poprzednia</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>