* {
    font-family: 'Pacifico', cursive;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;
    background-color: #000000;
    height: 1px;
}